.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &__item-title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: var(--main-title-color);
  }

  &__item-description {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--content-color);
  }
}
