.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contacts-list {
    display: none;
  }

  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
  }

  .burger-icon {
    width: 24px;
    height: 16px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--add-white-color);
    transform: translateX(-50%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.is-open {
      transform: translateX(-50%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close-btn {
      background-color: transparent;
      border: none;
      padding: 10px 15px;

      position: absolute;
      top: 10px;
      right: 15px;
    }

    &__close-icon {
      width: 20px;
      height: 20px;
    }

    &__link {
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--main-title-color);
    }

    &__list {
      margin-bottom: 302px;
    }

    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mobile-contacts {
    &__phone-link {
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }

    &__item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__email-link {
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: var(--content-color);
    }

    &__list {
      margin-bottom: 64px;
    }
  }

  .mobile-social {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item:not(:last-child)::after {
      content: "";
      width: 22px;
      height: 0px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      margin-right: 10px;
    }

    &__link {
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav {
    display: flex;
  }

  .logo {
    margin-right: 83px;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-right: 84px;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      position: relative;

      font-family: var(--main-font);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--main-title-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;

      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;

      &:hover,
      :focus {
        color: var(--accent-color);
      }
    }

    & .link.current {
      color: var(--accent-color);
    }

    .current::after {
      opacity: 1;
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__icon {
      fill: currentColor;
      margin-right: 8px;
    }

    &__link {
      display: flex;
      align-items: center;
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;

      color: var(--content-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .menu .link.current {
    color: var(--accent-color);
  }

  .menu {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      position: relative;

      font-family: var(--main-font);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--main-title-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;

      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;

      &:hover,
      :focus {
        color: var(--accent-color);
      }
    }

    .current::after {
      opacity: 1;
    }

    .contacts-list {
      display: flex;
      align-items: center;
      margin-left: auto;

      &__item {
        margin-right: 30px;
      }

      &__icon {
        fill: currentColor;
        margin-right: 10px;
      }

      &__link {
        display: flex;
        align-items: center;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--content-color);

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      &__link:hover,
      :focus {
        color: var(--accent-color);
      }
    }
  }
}
