.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item-button {
    background: #f5f4fa;
    border-radius: 4px;
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    border: 1px solid var(--add-white-color);

    padding: 6px 22px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item-button:hover,
  :focus {
    background-color: var(--accent-color);
    color: var(--add-white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;

  & > &__item {
    flex-basis: calc(100% / 3 - 30px);

    margin-left: 30px;
    margin-top: 30px;
  }

  &__link {
    display: block;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.card-set__link:hover .card__overlay,
.card-set__link:focus .card__overlay {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__content {
  background: var(--add-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
  padding: 20px 24px;
}

.card__heading {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--main-title-color);
}

.card__text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--content-color);

  margin-top: 5px;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--add-white-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  overflow: hidden;
  transform: translateY(100%);

  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
