.we-doing {
  padding-top: 47px;
  padding-bottom: 94px;

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px;
    width: 100%;
    height: 70px;

    color: var(--add-white-color);

    background-color: rgba(47, 48, 58, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.we-doing-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  &__img {
    width: 370px;
    height: 294px;
  }
}
