:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --main-title-color: #212121;
  --accent-color: #2196f3;
  --content-color: #757575;
  --add-white-color: #ffffff;
}
